<div>
    <h2>Login</h2>
    <br>
    <% content_for :title, "New Comments" %>
    <%= form_for :session, :url => {:controller => "sessions", :action => "create"} do |f| %>
        <p>
            <%= f.label :username %> <br>
            <%= f.text_field:username %>
        </p>
        <p>
            <%= f.label :password %> <br>
            <%= f.password_field:password %>
        </p>
        <br>
        <p>
            <%= f.submit "Login" %>
        </p>
    <% end %>
    <br>
    <%= render 'users/new' %>
</div>