<div>
    <% content_for :title, "New Comments" %>
    <h2>Comments</h2>
        <% @comments.each do |comment| %>
                <p><%= User.find(comment.user_id).username %> <%= time_ago_in_words(comment.created_at).gsub('about','') %> ago | on: <%= New.find(New.all.where(type: "New", news_id: comment.news_id)).title %> 
                <br> 
                <%= comment.content %></p>
                <br>
        <% end %>
        
    <% if @page > 1 %>
        <%= link_to "Less", newcomment2page_path(:p => @prev_page) %> &nbsp;
    <% elsif @page == 1 %>
        <%= link_to "Less", newcomment2page_path %> &nbsp;
    <% end %>
    <% if @comments.size == 3 %>
        <%= link_to "More", newcomment2page_path(:p => @next_page) %>
    <% end %>
</div> 